<div class="form-container">
  <h1>Zgłoszenie Kapitana</h1>
  <form [formGroup]="form" (ngSubmit)="onNext()">
    <div class="form-group" [ngClass]="{'error': form.get('name')?.invalid && (form.get('name')?.touched || form.get('name')?.dirty)}">
      <label for="name">Imię i nazwisko kapitana:</label>
      <input id="name" formControlName="name" type="text" class="form-input" required />
    </div>

    <div class="form-group" [ngClass]="{'error': form.get('email')?.invalid && (form.get('email')?.touched || form.get('email')?.dirty)}">
      <label for="email">E-mail kapitana:</label>
      <input id="email" formControlName="email" type="email" class="form-input" required />
    </div>

    <div class="form-group" [ngClass]="{'error': form.get('phone')?.invalid && (form.get('phone')?.touched || form.get('phone')?.dirty)}">
      <label for="phone">Telefon kapitana:</label>
      <input id="phone" formControlName="phone" type="tel" class="form-input" required />
    </div>

    <div class="form-group" [ngClass]="{'error': form.get('clubAffiliation')?.invalid && (form.get('clubAffiliation')?.touched || form.get('clubAffiliation')?.dirty)}">
      <label for="clubAffiliation">Przynależność klubowa jachtu (dla niezrzeszonych amatorska licencja PZż) *</label>
      <input id="clubAffiliation" formControlName="clubAffiliation" type="text" class="form-input" required />
    </div>

    <button type="submit" class="submit-button">Dalej</button>
  </form>
</div>
